################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DownloadButton/obj
/DownloadButton/Properties
/DownloadButtonExample/Properties
/DownloadButton/bin/Debug/netstandard2.0
/DownloadComponents/bin
/DownloadComponents/obj
/DownloadComponents/Properties
