@page "/"

<h1>Downloading/Exporting data from Blazor</h1>
<h2>This app demonstrates how to build a Download Button component for Blazor</h2>
<p>
    The download component uses a data URI to prompt client to download a file from the application. When the download component is added to an application, a button is shown allowing users to export data from the application with a single click.
</p>
<p>
    See the <NavLink href="/fetchdata">fetch data</NavLink> view for a live example of the completed component.
</p>
